DELIVERY_API_BASE=http://localhost:8787
DELIVERY_ORGANIZATION_ID=replace-with-org-id
PRINT_WATCH_DIR=C:\DeliveryPlatform\PrintInbox
PRINT_ARCHIVE_DIR=C:\DeliveryPlatform\PrintArchive
PRINT_FAILED_DIR=C:\DeliveryPlatform\PrintFailed
PRINT_STABLE_DELAY_MS=1500
